
.dialog{
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.avatarDialog {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 5px;
  }
.friend {
    align-items:baseline;
   
    
}
.friend a{
    font-size: unset;
    color: black;
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: 30%;
}
a.activeDialog {
    color: greenyellow;
}
