.header {
    grid-area: header;
    background-color: darkcyan;
  }
  .header img{
    width: 7%;
  }
.loginBlock{
  float: right;
}
.loginBlock a{
  color: white;
  text-decoration: none;
}