.Nav {
    grid-area: nav;
    background-color: dodgerblue;
    padding: 20px;
  }
.item {
    color: white;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: red;
}
.friends {
    margin-top: 10%;
    color: white;
}
.friends a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.friends a.activeLink {
    color: yellow;
}